nav {
  button {
    display: flex;
    border: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  [class^=line-] {
    position: absolute;
    height: 1px;
    width: 100%;
    border-top: 2px solid black;
    left: 0;
    transition: transform .5s ease; 
  }

  .line-1 {
    top: 2px;
    transform-origin: 0 0;
  }

  .line-2 {
    top: 10px;
  }

  .line-3 {
    top: 18px;
    transform-origin: 0px 18px;
  }

  button[aria-expanded='true'] {
    [class^=line-] {
      border-color: red;
    }

    .line-1 {
      transform: rotate(45deg);
    }

    .line-2 {
      display: none;
    }

    .line-3 {
      transform: rotate(-45deg) translate(11px, 5px);
    }
  }
}



