footer {
  margin-top: 3rem;
  padding: 1rem;
  line-height: 1.6;
  color: white;
  background-color: $bggray;
  text-align: right;

  a {
    color: white;
    border-bottom-color: white;
    padding-bottom: 0;
  }
}



