---
layout: primary
title: Home
---

<section id="workshops">
  <p class="super-headline">Find your entrance level & book a workshop with Aaron</p>
  <h2>If you never start, you will never know.</h2>

  <div class="level">
    <img src="./images/stretch.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
    <p>3</p>
    <h3>As pro as you can get</h3>
    <p>Lorem ipsum...</p>
    <a href="#" class="button">Book Workshop</a>
    <img src="./images/quote.svg" alt='quote sign'>
    <blockquote>Respect your talent!</blockquote>
    <p class='apply'>Apply for an audition now!</p>
  </div>

  <div class="level">
    <img src="./images/up.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
    <p>3</p>
    <h3>As pro as you can get</h3>
    <p>Lorem ipsum...</p>
    <a href="#" class="button">Book Workshop</a>            
    <img src="./images/quote.svg" alt='quote sign'>
    <blockquote>Respect your talent!</blockquote>
    <p class='apply'>Registration now open for everybody!</p>
  </div>

  <div class="level">
    <img src="./images/rise.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
    <p>3</p>
    <h3>As pro as you can get</h3>
    <p>Lorem ipsum...</p>
    <a href="#" class="button">Book Workshop</a>            
    <img src="./images/quote.svg" alt='quote sign'>
    <blockquote>Respect your talent!</blockquote>
    <p class='apply'>Registration now open for everybody!</p>
  </div>

</section>
<section id="about">
  <div>
    <img src="" alt=""/>

    <p class="super-headline">Why I teach</p>
    <h2>Hi, I'm Aaron!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum!</p>

    <a>Learn more</a> <!-- styled as button -->
  </div>
</section>
<section id="news">
  <p class="super-headline">Making waves since 2004</p>
  <h2>In the News</h2>

  {% assign news = collections.news | reverse %}
  {% for n in news limit:3 %}
    <article>
      <h3><a href='{{ n.url }}'>{{ n.data.title }}</a> – </h3> 
      <p>{{ n.data.excerpt }}</p>
    </article>
  {% endfor %}
</section>
